In [1]:
import pandas as pd

In [9]:
df = pd.read_csv(r'output DataScience Course for DataCamp.csv', delimiter=';')

In [10]:
print(df)

                                              Questions Unnamed: 1 Unnamed: 2
0     50xp In this chapter, you're going to look at ...        NaN        NaN
1     Import pandas as pd. Read 'dob_job_application...        NaN        NaN
2     50xp In the previous exercise, you identified ...        NaN        NaN
3     Print the info of df. Print the info of the su...        NaN        NaN
4     100xp As you've seen, .describe() can only be ...        NaN        NaN
...                                                 ...        ...        ...
1520  In the video, you learned how to use NMF featu...        NaN        NaN
1521  In this exercise and the next, you'll use what...        NaN        NaN
1522  100XP Import: NMF from sklearn.decomposition. ...        NaN        NaN
1523  Suppose you were a big fan of Bruce Springstee...        NaN        NaN
1524  100XP Import pandas as pd. Create a DataFrame ...        NaN        NaN

[1525 rows x 3 columns]

In [3]:
df.columns

Index(['Questions', 'Unnamed: 1', 'Unnamed: 2'], dtype='object')

In [11]:
df = df.drop(['Unnamed: 1', 'Unnamed: 2'], axis = 1)

In [12]:
df

                                              Questions
0     50xp In this chapter, you're going to look at ...
1     Import pandas as pd. Read 'dob_job_application...
2     50xp In the previous exercise, you identified ...
3     Print the info of df. Print the info of the su...
4     100xp As you've seen, .describe() can only be ...
...                                                 ...
1520  In the video, you learned how to use NMF featu...
1521  In this exercise and the next, you'll use what...
1522  100XP Import: NMF from sklearn.decomposition. ...
1523  Suppose you were a big fan of Bruce Springstee...
1524  100XP Import pandas as pd. Create a DataFrame ...

[1525 rows x 1 columns]

In [13]:
df['Questions'][1]

"Import pandas as pd. Read 'dob_job_application_filings_subset.csv' into a DataFrame called df. Print the head and tail of df. Print the shape of df and its columns. Note: .shape and .columns are attributes, not methods, so you don't need to follow these with parentheses (). Hit 'Submit Answer' to view the results! Notice the suspicious number of 0 values. Perhaps these represent missing data."

In [26]:
df_1 = df['Questions'].str.startswith(('50xp', '100xp', '100XP', '50XP', '0XP', '0xp')).to_frame()

In [27]:
type(df)

pandas.core.frame.DataFrame

In [28]:
questions = []
# loop through DataFrame using iterrows()
for index, row in df[df_1].iterrows():
    if True:
        #print(row['Questions'])
        questions.append(row)
        #df.drop(row, axis=0)
        #df
# convert lists to DataFrames
questions = pd.DataFrame(questions).dropna()
questions

                                              Questions
0     50xp In this chapter, you're going to look at ...
2     50xp In the previous exercise, you identified ...
4     100xp As you've seen, .describe() can only be ...
6     100xp Up until now, you've been looking at des...
8     100xp Histograms are great ways of visualizing...
10    100xp Boxplots are great when you have a numer...
12    100xp Melting data is the process of turning c...
14    100xp When melting DataFrames, it would be bet...
16    100xp Pivoting data is the opposite of melting...
18    100xp After pivoting airquality_melt in the pr...
21    100xp The dataset you saw in the video, consis...
23    100xp Another common way multiple variables ar...
25    100xp The dataset you'll be working with here ...
27    100xp Think of column-wise concatenation of da...
29    100xp You're now going to practice using the g...
31    100xp Now that you have a list of filenames to...
33    100xp Merging data allows you to combine dispa...
35    100xp In a many-to-one (or one-to-many) merge,...
37    100xp The final merging scenario occurs when b...
39    100xp In this exercise, you'll see how ensurin...
41    100xp If you expect the data type of a column ...
43    100xp In the video, Dan introduced you to the ...
45    100xp Extracting numbers from strings is a com...
47    100xp In this exercise, you'll continue practi...
49    100xp You'll now practice writing functions to...
51    100xp You'll now be introduced to a powerful P...
56    100xp Duplicate data causes a variety of probl...
58    100xp Here, you'll return to the airquality da...
60    0xp Here, you'll practice writing assert state...
62    100xp In this exercise, you'll write code to d...
65    0xp As Dan explained to you in the video, an "...
67    100xp You'll now define a function called pred...
69    100xp In this exercise, you'll write code to d...
71    100xp Now you'll get to change weights in a re...
73    100xp You've seen how different weights will h...
75    100xp You're now going to practice calculating...
77    100xp Hurray! You've just calculated the slope...
79    100xp You're now going to make multiple update...
81    100xp Now you'll get to work with your first m...
83    100xp You're now going to compile the model yo...
85    100xp You're at the most fun part. You'll now ...
87    100xp You'll now create a classification model...
89    100xp The trained network from your previous c...
91    100xp It's time to get your hands dirty with o...
93    100xp Now it's your turn to monitor model accu...
95    100xp Now that you know how to monitor your mo...
97    0xp Now you know everything you need to begin ...
99    100xp You've seen how to experiment with wider...
101   0xp You've reached the final exercise of the c...
103   100xp In this exercise, you'll be working with...
105   100xp For large files, we may not want to prin...
109   100xp In this exercise, you're now going to lo...
111   100xp What if there are rows, such as a header...
113   100xp The file seaslug.txt has a text header, ...
117   100xp You have just used np.genfromtxt() to im...
119   100xp In the last exercise, you were able to i...
123   100xp The pandas package is also great at deal...
125   100xp There are a number of datatypes that can...
127   100xp Whether you like it or not, any working ...
129   100xp In the previous exercises, you saw that ...
131   100xp Here, you'll parse your spreadsheets and...
133   100xp In this exercise, you'll figure out how ...
136   100xp Here, you'll gain expertise in importing...
138   100xp The file 'LIGO_data.hdf5' is already in ...
140   100xp In this exercise, you'll extract some of...
142   100xp In this exercise, you'll figure out how ...
144   100xp Here, you'll discover what is in the MAT...
147   100xp Here, you're going to fire up your very ...
150   100xp In this exercise, you'll once again crea...
152   0xp Now, it's time for liftoff! In this exerci...
154   100xp Congratulations on executing your first ...
161   100xp You can now execute a basic SQL query to...
165   100xp You can also order your SQL query result...
169   100xp Here, you'll become more familiar with t...
171   100xp Here, you'll perform your first INNER JO...
174   100xp Congrats on performing your first INNER ...
177   100xp In this exercise, you'll be working with...
179   100xp For large files, we may not want to prin...
183   100xp In this exercise, you're now going to lo...
185   100xp What if there are rows, such as a header...
187   100xp The file seaslug.txt has a text header, ...
191   100xp You have just used np.genfromtxt() to im...
193   100xp In the last exercise, you were able to i...
197   100xp The pandas package is also great at deal...
199   100xp There are a number of datatypes that can...
201   100xp Whether you like it or not, any working ...
203   100xp In the previous exercises, you saw that ...
205   100xp Here, you'll parse your spreadsheets and...
207   100xp In this exercise, you'll figure out how ...
210   100xp Here, you'll gain expertise in importing...
212   100xp The file 'LIGO_data.hdf5' is already in ...
214   100xp In this exercise, you'll extract some of...
216   100xp In this exercise, you'll figure out how ...
218   100xp Here, you'll discover what is in the MAT...
221   100xp Here, you're going to fire up your very ...
224   100xp In this exercise, you'll once again crea...
226   0xp Now, it's time for liftoff! In this exerci...
228   100xp Congratulations on executing your first ...
235   100xp You can now execute a basic SQL query to...
239   100xp You can also order your SQL query result...
243   100xp Here, you'll become more familiar with t...
245   100xp Here, you'll perform your first INNER JO...
248   100xp Congrats on performing your first INNER ...
251   100xp You are about to import your first file ...
254   100xp You have just imported a file from the w...
256   100xp Congrats! You've just loaded a flat file...
259   100xp Now that you know the basics behind HTTP...
261   100xp You have just packaged and sent a GET re...
263   100xp Now that you've got your head and hands ...
265   100xp In this interactive exercise, you'll lea...
267   100xp As promised, in the following exercises,...
269   100xp In this exercise, you'll figure out how ...
271   0xp Now that you know what a JSON is, you'll l...
273   100xp Now it's your turn to pull some movie da...
275   100xp Wow, congrats! You've just queried your ...
277   100xp You're doing so well and having so much ...
279   100xp The package tweepy is great at handling ...
281   100xp Now that you have set up your authentica...
283   100xp Now that you've got your Twitter data si...
285   100xp Now you have the Twitter data in a list ...
287   100xp Now that you have your DataFrame of twee...
291   100xp Now that you have the number of tweets t...
294   100XP Import the figure function from bokeh.pl...
296   100XP Create the figure p with the figure() fu...
298   100XP Using the Latin America data (fertility_...
300   100XP Import the figure function from bokeh.pl...
302   100XP Plot date along the x-axis and price alo...
304   100XP Create a list of the longitude positions...
306   100XP Import numpy as np. Create an array x us...
308   100XP Import pandas as pd. Use the read_csv() ...
310   100XP Import the ColumnDataSource class from b...
312   100XP Create a figure p with an x-axis label o...
314   100XP Import HoverTool from bokeh.models. Add ...
316   100XP Import CategoricalColorMapper from bokeh...
318   100XP Import row from the bokeh.layouts module...
320   100XP Import column from the bokeh.layouts mod...
322   100XP Import row and column from bokeh.layouts...
324   100XP Import gridplot from the bokeh.layouts m...
326   100XP Import Panel from bokeh.models.widgets. ...
328   100XP Import Tabs from bokeh.models.widgets. C...
330   100XP Link the x_range of p2 to p1. Link the y...
332   100XP Create a ColumnDataSource object called ...
334   100XP Add a red circle glyph to the figure p u...
336   100XP Use p.legend.location to adjust the lege...
338   100XP Import the HoverTool class from bokeh.mo...
340   100XP Import curdoc from bokeh.io and figure f...
342   100XP Import curdoc from bokeh.io, widgetbox f...
344   100XP Create the first slider, slider1, using ...
346   100XP Create a ColumnDataSource called source....
348   100XP Define a callback function callback with...
350   100XP Define a callback function called update...
352   100XP Create select1, the first dropdown selec...
354   0XP Create a button called button using the fu...
356   100XP Import CheckboxGroup, RadioGroup, Toggle...
358   100XP Import output_file and show from bokeh.i...
360   100XP Make a ColumnDataSource object called so...
362   100XP Make a list of the unique values from th...
364   100XP Import the widgetbox and row functions f...
366   100XP Define the update_plot callback function...
368   100XP Import HoverTool from bokeh.models. Crea...
370   100XP Inside the update_plot() callback functi...
371   100xp With matplotlib, you can create a bunch ...
374   100xp Now that you've built your first line pl...
376   100xp When you have a time scale along the hor...
379   100xp In the previous exercise, you saw that t...
381   100xp life_exp, the list containing data on th...
383   100xp In the previous exercise, you didn't spe...
386   100xp It's time to customize your own plot. Th...
388   100xp The customizations you've coded up to no...
391   100xp Right now, the scatter plot is just a cl...
393   100xp The code you've written up to now is ava...
396   100xp If you have another look at the script, ...
398   100xp To see why dictionaries are useful, have...
400   100xp The countries and capitals lists are aga...
402   100xp If the keys of a dictionary are chosen w...
405   0xp If you know how to access a dictionary, yo...
407   100xp Somebody thought it would be funny to me...
409   100xp Remember lists? They could contain anyth...
411   100xp Pandas is an open source library, provid...
413   100xp The Python code that solves the previous...
415   100xp Putting data in a dictionary and then bu...
416   100xp Your read_csv() call to import the CSV d...
418   100xp In the video, you saw that you can index...
421   100xp Square brackets can do more than just se...
424   100xp With loc and iloc you can do practically...
429   100xp loc and iloc also allow you to select bo...
433   100xp It's also possible to select only column...
436   100xp To check if two Python values, or variab...
439   100xp In the video, Filip also talked about th...
442   100xp Out of the box, you can also use compari...
444   100xp A boolean is either 1 or 0, True or Fals...
448   100xp It's time to take a closer look around i...
450   100xp On the right, the if construct for room ...
452   100xp It's also possible to have a look around...
454   100xp Remember that cars dataset, containing t...
456   100xp The code in the previous example worked ...
458   100xp Let's stick to the cars data some more. ...
460   100xp Remember about np.logical_and(), np.logi...
462   100xp Below you can find the example from the ...
464   100xp The while loop that corrects the offset ...
465   100xp Have another look at the for loop that F...
468   100xp Using a for loop to iterate over a list ...
470   100xp For non-programmer folks, room 0: 11.25 ...
472   100xp Remember the house variable from the Int...
474   100xp In Python 3, you need the items() method...
478   100xp If you're dealing with a 1D Numpy array,...
482   100xp Iterating over a Pandas DataFrame is typ...
485   100xp The row data that's generated by iterrow...
487   0xp In the video, Filip showed you how to add ...
490   100xp Using iterrows() to iterate over every o...
494   100xp Below you can find the example from the ...
497   100xp The while loop that corrects the offset ...
499   100xp Have another look at the for loop that F...
502   100xp Using a for loop to iterate over a list ...
504   100xp For non-programmer folks, room 0: 11.25 ...
506   100xp Remember the house variable from the Int...
508   100xp In Python 3, you need the items() method...
512   100xp If you're dealing with a 1D Numpy array,...
516   100xp Iterating over a Pandas DataFrame is typ...
519   100xp The row data that's generated by iterrow...
521   0xp In the video, Filip showed you how to add ...
524   100xp Using iterrows() to iterate over every o...
528   100xp Randomness has many uses in science, art...
530   100xp In the previous exercise, you used rand(...
533   100xp In the Empire State Building bet, your n...
535   100xp Before, you have already written Python ...
537   0xp Things are shaping up nicely! You already ...
539   100xp Let's visualize this random walk! Rememb...
542   100xp A single random walk is one thing, but t...
544   100xp all_walks is a list of lists: every sub-...
548   100xp With this neatly written code of yours, ...
550   100xp All these fancy visualizations have put ...
574   100xp Subsetting Python lists is a piece of ca...
583   50xp You saw before that a Python list can con...
586   100xp Replacing list elements is pretty easy. ...
589   100xp If you can change elements in a list, yo...
597   100xp Out of the box, Python offers a bunch of...
599   50xp Maybe you already know the name of a Pyth...
602   100xp In the previous exercise, the square bra...
604   100xp Strings come with a bunch of methods. Fo...
605   100xp Strings are not the only Python types th...
607   100xp Most list methods will change the list t...
608   100xp As a data scientist, some notions of geo...
609   100xp General imports, like import math, make ...
611   50xp There are several ways to import packages...
613   100xp We're going to dive into the world of ba...
614   100xp You are a huge baseball fan. You decide ...
615   100xp The MLB also offers to let you analyze t...
616   100xp To subset both regular Python lists and ...
619   100xp You've seen it with your own eyes: Pytho...
622   100xp Before working on the actual MLB data, l...
623   100xp You have another look at the MLB data an...
624   100xp If your 2D Numpy array has a regular str...
628   100xp Remember how you calculated the Body Mas...
630   100xp You now know how to use Numpy functions ...
632   0xp Because the mean and median are so far apa...
633   100xp In the last few exercises you've learned...
635   0XP Import create_engine from the sqlalchemy m...
637   100XP Import the Table object from sqlalchemy....
639   100XP Reflect the census table as you did in t...
641   100XP Build a SQL statement to query all the c...
643   100XP Import select from the sqlalchemy module...
645   100XP Extract the first row of results and ass...
647   50XP Import create_engine from sqlalchemy. Cre...
649   100XP Select all records from the census table...
651   100XP Select all records from the census table...
653   100XP Import and_ from the sqlalchemy module. ...
655   100XP Select all records of the state column f...
657   100XP Import desc from the sqlalchemy module. ...
659   100XP Select all records of the state and age ...
664   100XP Build a select statement to count the di...
668   100XP Import func from sqlalchemy. Build an ex...
670   100XP Import pandas as pd. Create a DataFrame ...
672   100XP Import matplotlib.pyplot as plt. Create ...
674   100XP Import the create_engine function from t...
676   100XP Define a select statement called stmt to...
678                                               100XP
682   100XP Build a statement to join the census and...
684   100XP Build a statement to select ALL the colu...
686   100XP Build a statement to select: The state c...
690   100XP Save an alias of the employees table as ...
692   100XP Use a while loop that checks if there ar...
694   100XP Import Table, Column, String, Integer, F...
696   100XP Table, Column, String, Integer, Float, B...
698   100XP Import insert and select from the sqlalc...
700   100XP Build a list of dictionaries called valu...
702   100XP Create a statement for bulk insert into ...
705   100XP Build a statement to select all columns ...
707   100XP Build an update statement to update the ...
709   100XP Build a statement to select the name col...
712   100XP Import delete and select from sqlalchemy...
715   100XP Build a delete statement to remove data ...
717   100XP Drop the state_fact table by applying th...
719   100XP Import create_engine and MetaData from s...
721   100XP Import Table, Column, String, and Intege...
723   100XP Create an empty list called values_list....
725   100XP Import insert from sqlalchemy. Build an ...
727   100XP Import select from sqlalchemy. Build a s...
729   100XP Import case, cast and Float from sqlalch...
731   100XP Build a statement to: Select state. Calc...
733   100XP Import matplotlib.pyplot as its usual al...
735   100XP Create a set of plot axes with lower cor...
737   100XP Use plt.subplot() to create a figure wit...
739   100XP Create a figure with 2Ã—22Ã—2 subplot layo...
741   100XP Use plt.xlim() to set the x-axis range t...
743   100XP Use plt.axis() to select the time period...
745   100XP Modify the plot command provided that dr...
747   100XP Compute the maximum enrollment of women ...
749   100XP Import matplotlib.pyplot as its usual al...
752   100XP Import the numpy and matplotlib.pyplot m...
754   100XP Using the meshgrid X, Y as axes: Generat...
756   100XP Modify the call to plt.contourf() so the...
758   100XP Generate a two-dimensional histogram to ...
760   100XP Generate a two-dimensional histogram wit...
762   100XP Load the file '480px-Astronaut-EVA.jpg' ...
764   100XP Print the shape of the existing image ar...
766   100XP Display img in the top left subplot with...
768   100XP Use the methods .min() and .max() to sav...
770   100XP Import matplotlib.pyplot and seaborn usi...
772   100XP Import matplotlib.pyplot and seaborn usi...
774   100XP Modify the call to plt.scatter() to plot...
776   100XP Plot a linear regression between 'weight...
778   100XP Plot linear regressions of 'hp' (on the ...
780   100XP In the first row of subplots, make a str...
782   100XP In the first row of subplots, make a swa...
784   100XP In the first row of subplots, make a vio...
786   100XP Use sns.jointplot() to visualize the joi...
788   100XP Create a hexbin plot of the joint distri...
790   100XP Print the first five rows of the DataFra...
792   100XP Plot the pairwise joint distributions se...
794   100XP Print the covariance matrix cov_matrix t...
797   100XP Plot the aapl time series in blue with a...
799   100XP Plot the series aapl in 'blue' in the to...
801   100XP Extract a slice named view from the seri...
803   100XP Extract a slice of series aapl from Nove...
805   100XP In the top left subplot, plot the 30-day...
807   100XP Produce a single plot with four curves o...
809   100XP Load data from the file '640px-Unequaliz...
811   100XP First, use plt.hist() to plot the histog...
813   100XP Use the NumPy array method .reshape() to...
815   100XP Display image in the top subplot of a 2Ã—...
817   100XP Make a 2-D histogram in the top left sub...
820   100XP Import the create_engine function from t...
822   100XP Define a select statement called stmt to...
824                                               100XP
828   100XP Build a statement to join the census and...
830   100XP Build a statement to select ALL the colu...
832   100XP Build a statement to select: The state c...
836   100XP Save an alias of the employees table as ...
838   100XP Use a while loop that checks if there ar...
840   100XP Import Table, Column, String, Integer, F...
842   100XP Table, Column, String, Integer, Float, B...
844   100XP Import insert and select from the sqlalc...
846   100XP Build a list of dictionaries called valu...
848   100XP Create a statement for bulk insert into ...
851   100XP Build a statement to select all columns ...

In [29]:
pd.set_option('display.max_rows', None)

In [30]:
questions

                                              Questions
0     50xp In this chapter, you're going to look at ...
2     50xp In the previous exercise, you identified ...
4     100xp As you've seen, .describe() can only be ...
6     100xp Up until now, you've been looking at des...
8     100xp Histograms are great ways of visualizing...
10    100xp Boxplots are great when you have a numer...
12    100xp Melting data is the process of turning c...
14    100xp When melting DataFrames, it would be bet...
16    100xp Pivoting data is the opposite of melting...
18    100xp After pivoting airquality_melt in the pr...
21    100xp The dataset you saw in the video, consis...
23    100xp Another common way multiple variables ar...
25    100xp The dataset you'll be working with here ...
27    100xp Think of column-wise concatenation of da...
29    100xp You're now going to practice using the g...
31    100xp Now that you have a list of filenames to...
33    100xp Merging data allows you to combine dispa...
35    100xp In a many-to-one (or one-to-many) merge,...
37    100xp The final merging scenario occurs when b...
39    100xp In this exercise, you'll see how ensurin...
41    100xp If you expect the data type of a column ...
43    100xp In the video, Dan introduced you to the ...
45    100xp Extracting numbers from strings is a com...
47    100xp In this exercise, you'll continue practi...
49    100xp You'll now practice writing functions to...
51    100xp You'll now be introduced to a powerful P...
56    100xp Duplicate data causes a variety of probl...
58    100xp Here, you'll return to the airquality da...
60    0xp Here, you'll practice writing assert state...
62    100xp In this exercise, you'll write code to d...
65    0xp As Dan explained to you in the video, an "...
67    100xp You'll now define a function called pred...
69    100xp In this exercise, you'll write code to d...
71    100xp Now you'll get to change weights in a re...
73    100xp You've seen how different weights will h...
75    100xp You're now going to practice calculating...
77    100xp Hurray! You've just calculated the slope...
79    100xp You're now going to make multiple update...
81    100xp Now you'll get to work with your first m...
83    100xp You're now going to compile the model yo...
85    100xp You're at the most fun part. You'll now ...
87    100xp You'll now create a classification model...
89    100xp The trained network from your previous c...
91    100xp It's time to get your hands dirty with o...
93    100xp Now it's your turn to monitor model accu...
95    100xp Now that you know how to monitor your mo...
97    0xp Now you know everything you need to begin ...
99    100xp You've seen how to experiment with wider...
101   0xp You've reached the final exercise of the c...
103   100xp In this exercise, you'll be working with...
105   100xp For large files, we may not want to prin...
109   100xp In this exercise, you're now going to lo...
111   100xp What if there are rows, such as a header...
113   100xp The file seaslug.txt has a text header, ...
117   100xp You have just used np.genfromtxt() to im...
119   100xp In the last exercise, you were able to i...
123   100xp The pandas package is also great at deal...
125   100xp There are a number of datatypes that can...
127   100xp Whether you like it or not, any working ...
129   100xp In the previous exercises, you saw that ...
131   100xp Here, you'll parse your spreadsheets and...
133   100xp In this exercise, you'll figure out how ...
136   100xp Here, you'll gain expertise in importing...
138   100xp The file 'LIGO_data.hdf5' is already in ...
140   100xp In this exercise, you'll extract some of...
142   100xp In this exercise, you'll figure out how ...
144   100xp Here, you'll discover what is in the MAT...
147   100xp Here, you're going to fire up your very ...
150   100xp In this exercise, you'll once again crea...
152   0xp Now, it's time for liftoff! In this exerci...
154   100xp Congratulations on executing your first ...
161   100xp You can now execute a basic SQL query to...
165   100xp You can also order your SQL query result...
169   100xp Here, you'll become more familiar with t...
171   100xp Here, you'll perform your first INNER JO...
174   100xp Congrats on performing your first INNER ...
177   100xp In this exercise, you'll be working with...
179   100xp For large files, we may not want to prin...
183   100xp In this exercise, you're now going to lo...
185   100xp What if there are rows, such as a header...
187   100xp The file seaslug.txt has a text header, ...
191   100xp You have just used np.genfromtxt() to im...
193   100xp In the last exercise, you were able to i...
197   100xp The pandas package is also great at deal...
199   100xp There are a number of datatypes that can...
201   100xp Whether you like it or not, any working ...
203   100xp In the previous exercises, you saw that ...
205   100xp Here, you'll parse your spreadsheets and...
207   100xp In this exercise, you'll figure out how ...
210   100xp Here, you'll gain expertise in importing...
212   100xp The file 'LIGO_data.hdf5' is already in ...
214   100xp In this exercise, you'll extract some of...
216   100xp In this exercise, you'll figure out how ...
218   100xp Here, you'll discover what is in the MAT...
221   100xp Here, you're going to fire up your very ...
224   100xp In this exercise, you'll once again crea...
226   0xp Now, it's time for liftoff! In this exerci...
228   100xp Congratulations on executing your first ...
235   100xp You can now execute a basic SQL query to...
239   100xp You can also order your SQL query result...
243   100xp Here, you'll become more familiar with t...
245   100xp Here, you'll perform your first INNER JO...
248   100xp Congrats on performing your first INNER ...
251   100xp You are about to import your first file ...
254   100xp You have just imported a file from the w...
256   100xp Congrats! You've just loaded a flat file...
259   100xp Now that you know the basics behind HTTP...
261   100xp You have just packaged and sent a GET re...
263   100xp Now that you've got your head and hands ...
265   100xp In this interactive exercise, you'll lea...
267   100xp As promised, in the following exercises,...
269   100xp In this exercise, you'll figure out how ...
271   0xp Now that you know what a JSON is, you'll l...
273   100xp Now it's your turn to pull some movie da...
275   100xp Wow, congrats! You've just queried your ...
277   100xp You're doing so well and having so much ...
279   100xp The package tweepy is great at handling ...
281   100xp Now that you have set up your authentica...
283   100xp Now that you've got your Twitter data si...
285   100xp Now you have the Twitter data in a list ...
287   100xp Now that you have your DataFrame of twee...
291   100xp Now that you have the number of tweets t...
294   100XP Import the figure function from bokeh.pl...
296   100XP Create the figure p with the figure() fu...
298   100XP Using the Latin America data (fertility_...
300   100XP Import the figure function from bokeh.pl...
302   100XP Plot date along the x-axis and price alo...
304   100XP Create a list of the longitude positions...
306   100XP Import numpy as np. Create an array x us...
308   100XP Import pandas as pd. Use the read_csv() ...
310   100XP Import the ColumnDataSource class from b...
312   100XP Create a figure p with an x-axis label o...
314   100XP Import HoverTool from bokeh.models. Add ...
316   100XP Import CategoricalColorMapper from bokeh...
318   100XP Import row from the bokeh.layouts module...
320   100XP Import column from the bokeh.layouts mod...
322   100XP Import row and column from bokeh.layouts...
324   100XP Import gridplot from the bokeh.layouts m...
326   100XP Import Panel from bokeh.models.widgets. ...
328   100XP Import Tabs from bokeh.models.widgets. C...
330   100XP Link the x_range of p2 to p1. Link the y...
332   100XP Create a ColumnDataSource object called ...
334   100XP Add a red circle glyph to the figure p u...
336   100XP Use p.legend.location to adjust the lege...
338   100XP Import the HoverTool class from bokeh.mo...
340   100XP Import curdoc from bokeh.io and figure f...
342   100XP Import curdoc from bokeh.io, widgetbox f...
344   100XP Create the first slider, slider1, using ...
346   100XP Create a ColumnDataSource called source....
348   100XP Define a callback function callback with...
350   100XP Define a callback function called update...
352   100XP Create select1, the first dropdown selec...
354   0XP Create a button called button using the fu...
356   100XP Import CheckboxGroup, RadioGroup, Toggle...
358   100XP Import output_file and show from bokeh.i...
360   100XP Make a ColumnDataSource object called so...
362   100XP Make a list of the unique values from th...
364   100XP Import the widgetbox and row functions f...
366   100XP Define the update_plot callback function...
368   100XP Import HoverTool from bokeh.models. Crea...
370   100XP Inside the update_plot() callback functi...
371   100xp With matplotlib, you can create a bunch ...
374   100xp Now that you've built your first line pl...
376   100xp When you have a time scale along the hor...
379   100xp In the previous exercise, you saw that t...
381   100xp life_exp, the list containing data on th...
383   100xp In the previous exercise, you didn't spe...
386   100xp It's time to customize your own plot. Th...
388   100xp The customizations you've coded up to no...
391   100xp Right now, the scatter plot is just a cl...
393   100xp The code you've written up to now is ava...
396   100xp If you have another look at the script, ...
398   100xp To see why dictionaries are useful, have...
400   100xp The countries and capitals lists are aga...
402   100xp If the keys of a dictionary are chosen w...
405   0xp If you know how to access a dictionary, yo...
407   100xp Somebody thought it would be funny to me...
409   100xp Remember lists? They could contain anyth...
411   100xp Pandas is an open source library, provid...
413   100xp The Python code that solves the previous...
415   100xp Putting data in a dictionary and then bu...
416   100xp Your read_csv() call to import the CSV d...
418   100xp In the video, you saw that you can index...
421   100xp Square brackets can do more than just se...
424   100xp With loc and iloc you can do practically...
429   100xp loc and iloc also allow you to select bo...
433   100xp It's also possible to select only column...
436   100xp To check if two Python values, or variab...
439   100xp In the video, Filip also talked about th...
442   100xp Out of the box, you can also use compari...
444   100xp A boolean is either 1 or 0, True or Fals...
448   100xp It's time to take a closer look around i...
450   100xp On the right, the if construct for room ...
452   100xp It's also possible to have a look around...
454   100xp Remember that cars dataset, containing t...
456   100xp The code in the previous example worked ...
458   100xp Let's stick to the cars data some more. ...
460   100xp Remember about np.logical_and(), np.logi...
462   100xp Below you can find the example from the ...
464   100xp The while loop that corrects the offset ...
465   100xp Have another look at the for loop that F...
468   100xp Using a for loop to iterate over a list ...
470   100xp For non-programmer folks, room 0: 11.25 ...
472   100xp Remember the house variable from the Int...
474   100xp In Python 3, you need the items() method...
478   100xp If you're dealing with a 1D Numpy array,...
482   100xp Iterating over a Pandas DataFrame is typ...
485   100xp The row data that's generated by iterrow...
487   0xp In the video, Filip showed you how to add ...
490   100xp Using iterrows() to iterate over every o...
494   100xp Below you can find the example from the ...
497   100xp The while loop that corrects the offset ...
499   100xp Have another look at the for loop that F...
502   100xp Using a for loop to iterate over a list ...
504   100xp For non-programmer folks, room 0: 11.25 ...
506   100xp Remember the house variable from the Int...
508   100xp In Python 3, you need the items() method...
512   100xp If you're dealing with a 1D Numpy array,...
516   100xp Iterating over a Pandas DataFrame is typ...
519   100xp The row data that's generated by iterrow...
521   0xp In the video, Filip showed you how to add ...
524   100xp Using iterrows() to iterate over every o...
528   100xp Randomness has many uses in science, art...
530   100xp In the previous exercise, you used rand(...
533   100xp In the Empire State Building bet, your n...
535   100xp Before, you have already written Python ...
537   0xp Things are shaping up nicely! You already ...
539   100xp Let's visualize this random walk! Rememb...
542   100xp A single random walk is one thing, but t...
544   100xp all_walks is a list of lists: every sub-...
548   100xp With this neatly written code of yours, ...
550   100xp All these fancy visualizations have put ...
574   100xp Subsetting Python lists is a piece of ca...
583   50xp You saw before that a Python list can con...
586   100xp Replacing list elements is pretty easy. ...
589   100xp If you can change elements in a list, yo...
597   100xp Out of the box, Python offers a bunch of...
599   50xp Maybe you already know the name of a Pyth...
602   100xp In the previous exercise, the square bra...
604   100xp Strings come with a bunch of methods. Fo...
605   100xp Strings are not the only Python types th...
607   100xp Most list methods will change the list t...
608   100xp As a data scientist, some notions of geo...
609   100xp General imports, like import math, make ...
611   50xp There are several ways to import packages...
613   100xp We're going to dive into the world of ba...
614   100xp You are a huge baseball fan. You decide ...
615   100xp The MLB also offers to let you analyze t...
616   100xp To subset both regular Python lists and ...
619   100xp You've seen it with your own eyes: Pytho...
622   100xp Before working on the actual MLB data, l...
623   100xp You have another look at the MLB data an...
624   100xp If your 2D Numpy array has a regular str...
628   100xp Remember how you calculated the Body Mas...
630   100xp You now know how to use Numpy functions ...
632   0xp Because the mean and median are so far apa...
633   100xp In the last few exercises you've learned...
635   0XP Import create_engine from the sqlalchemy m...
637   100XP Import the Table object from sqlalchemy....
639   100XP Reflect the census table as you did in t...
641   100XP Build a SQL statement to query all the c...
643   100XP Import select from the sqlalchemy module...
645   100XP Extract the first row of results and ass...
647   50XP Import create_engine from sqlalchemy. Cre...
649   100XP Select all records from the census table...
651   100XP Select all records from the census table...
653   100XP Import and_ from the sqlalchemy module. ...
655   100XP Select all records of the state column f...
657   100XP Import desc from the sqlalchemy module. ...
659   100XP Select all records of the state and age ...
664   100XP Build a select statement to count the di...
668   100XP Import func from sqlalchemy. Build an ex...
670   100XP Import pandas as pd. Create a DataFrame ...
672   100XP Import matplotlib.pyplot as plt. Create ...
674   100XP Import the create_engine function from t...
676   100XP Define a select statement called stmt to...
678                                               100XP
682   100XP Build a statement to join the census and...
684   100XP Build a statement to select ALL the colu...
686   100XP Build a statement to select: The state c...
690   100XP Save an alias of the employees table as ...
692   100XP Use a while loop that checks if there ar...
694   100XP Import Table, Column, String, Integer, F...
696   100XP Table, Column, String, Integer, Float, B...
698   100XP Import insert and select from the sqlalc...
700   100XP Build a list of dictionaries called valu...
702   100XP Create a statement for bulk insert into ...
705   100XP Build a statement to select all columns ...
707   100XP Build an update statement to update the ...
709   100XP Build a statement to select the name col...
712   100XP Import delete and select from sqlalchemy...
715   100XP Build a delete statement to remove data ...
717   100XP Drop the state_fact table by applying th...
719   100XP Import create_engine and MetaData from s...
721   100XP Import Table, Column, String, and Intege...
723   100XP Create an empty list called values_list....
725   100XP Import insert from sqlalchemy. Build an ...
727   100XP Import select from sqlalchemy. Build a s...
729   100XP Import case, cast and Float from sqlalch...
731   100XP Build a statement to: Select state. Calc...
733   100XP Import matplotlib.pyplot as its usual al...
735   100XP Create a set of plot axes with lower cor...
737   100XP Use plt.subplot() to create a figure wit...
739   100XP Create a figure with 2Ã—22Ã—2 subplot layo...
741   100XP Use plt.xlim() to set the x-axis range t...
743   100XP Use plt.axis() to select the time period...
745   100XP Modify the plot command provided that dr...
747   100XP Compute the maximum enrollment of women ...
749   100XP Import matplotlib.pyplot as its usual al...
752   100XP Import the numpy and matplotlib.pyplot m...
754   100XP Using the meshgrid X, Y as axes: Generat...
756   100XP Modify the call to plt.contourf() so the...
758   100XP Generate a two-dimensional histogram to ...
760   100XP Generate a two-dimensional histogram wit...
762   100XP Load the file '480px-Astronaut-EVA.jpg' ...
764   100XP Print the shape of the existing image ar...
766   100XP Display img in the top left subplot with...
768   100XP Use the methods .min() and .max() to sav...
770   100XP Import matplotlib.pyplot and seaborn usi...
772   100XP Import matplotlib.pyplot and seaborn usi...
774   100XP Modify the call to plt.scatter() to plot...
776   100XP Plot a linear regression between 'weight...
778   100XP Plot linear regressions of 'hp' (on the ...
780   100XP In the first row of subplots, make a str...
782   100XP In the first row of subplots, make a swa...
784   100XP In the first row of subplots, make a vio...
786   100XP Use sns.jointplot() to visualize the joi...
788   100XP Create a hexbin plot of the joint distri...
790   100XP Print the first five rows of the DataFra...
792   100XP Plot the pairwise joint distributions se...
794   100XP Print the covariance matrix cov_matrix t...
797   100XP Plot the aapl time series in blue with a...
799   100XP Plot the series aapl in 'blue' in the to...
801   100XP Extract a slice named view from the seri...
803   100XP Extract a slice of series aapl from Nove...
805   100XP In the top left subplot, plot the 30-day...
807   100XP Produce a single plot with four curves o...
809   100XP Load data from the file '640px-Unequaliz...
811   100XP First, use plt.hist() to plot the histog...
813   100XP Use the NumPy array method .reshape() to...
815   100XP Display image in the top subplot of a 2Ã—...
817   100XP Make a 2-D histogram in the top left sub...
820   100XP Import the create_engine function from t...
822   100XP Define a select statement called stmt to...
824                                               100XP
828   100XP Build a statement to join the census and...
830   100XP Build a statement to select ALL the colu...
832   100XP Build a statement to select: The state c...
836   100XP Save an alias of the employees table as ...
838   100XP Use a while loop that checks if there ar...
840   100XP Import Table, Column, String, Integer, F...
842   100XP Table, Column, String, Integer, Float, B...
844   100XP Import insert and select from the sqlalc...
846   100XP Build a list of dictionaries called valu...
848   100XP Create a statement for bulk insert into ...
851   100XP Build a statement to select all columns ...

In [31]:
questions.reset_index()

     index                                          Questions
0        0  50xp In this chapter, you're going to look at ...
1        2  50xp In the previous exercise, you identified ...
2        4  100xp As you've seen, .describe() can only be ...
3        6  100xp Up until now, you've been looking at des...
4        8  100xp Histograms are great ways of visualizing...
5       10  100xp Boxplots are great when you have a numer...
6       12  100xp Melting data is the process of turning c...
7       14  100xp When melting DataFrames, it would be bet...
8       16  100xp Pivoting data is the opposite of melting...
9       18  100xp After pivoting airquality_melt in the pr...
10      21  100xp The dataset you saw in the video, consis...
11      23  100xp Another common way multiple variables ar...
12      25  100xp The dataset you'll be working with here ...
13      27  100xp Think of column-wise concatenation of da...
14      29  100xp You're now going to practice using the g...
15      31  100xp Now that you have a list of filenames to...
16      33  100xp Merging data allows you to combine dispa...
17      35  100xp In a many-to-one (or one-to-many) merge,...
18      37  100xp The final merging scenario occurs when b...
19      39  100xp In this exercise, you'll see how ensurin...
20      41  100xp If you expect the data type of a column ...
21      43  100xp In the video, Dan introduced you to the ...
22      45  100xp Extracting numbers from strings is a com...
23      47  100xp In this exercise, you'll continue practi...
24      49  100xp You'll now practice writing functions to...
25      51  100xp You'll now be introduced to a powerful P...
26      56  100xp Duplicate data causes a variety of probl...
27      58  100xp Here, you'll return to the airquality da...
28      60  0xp Here, you'll practice writing assert state...
29      62  100xp In this exercise, you'll write code to d...
30      65  0xp As Dan explained to you in the video, an "...
31      67  100xp You'll now define a function called pred...
32      69  100xp In this exercise, you'll write code to d...
33      71  100xp Now you'll get to change weights in a re...
34      73  100xp You've seen how different weights will h...
35      75  100xp You're now going to practice calculating...
36      77  100xp Hurray! You've just calculated the slope...
37      79  100xp You're now going to make multiple update...
38      81  100xp Now you'll get to work with your first m...
39      83  100xp You're now going to compile the model yo...
40      85  100xp You're at the most fun part. You'll now ...
41      87  100xp You'll now create a classification model...
42      89  100xp The trained network from your previous c...
43      91  100xp It's time to get your hands dirty with o...
44      93  100xp Now it's your turn to monitor model accu...
45      95  100xp Now that you know how to monitor your mo...
46      97  0xp Now you know everything you need to begin ...
47      99  100xp You've seen how to experiment with wider...
48     101  0xp You've reached the final exercise of the c...
49     103  100xp In this exercise, you'll be working with...
50     105  100xp For large files, we may not want to prin...
51     109  100xp In this exercise, you're now going to lo...
52     111  100xp What if there are rows, such as a header...
53     113  100xp The file seaslug.txt has a text header, ...
54     117  100xp You have just used np.genfromtxt() to im...
55     119  100xp In the last exercise, you were able to i...
56     123  100xp The pandas package is also great at deal...
57     125  100xp There are a number of datatypes that can...
58     127  100xp Whether you like it or not, any working ...
59     129  100xp In the previous exercises, you saw that ...
60     131  100xp Here, you'll parse your spreadsheets and...
61     133  100xp In this exercise, you'll figure out how ...
62     136  100xp Here, you'll gain expertise in importing...
63     138  100xp The file 'LIGO_data.hdf5' is already in ...
64     140  100xp In this exercise, you'll extract some of...
65     142  100xp In this exercise, you'll figure out how ...
66     144  100xp Here, you'll discover what is in the MAT...
67     147  100xp Here, you're going to fire up your very ...
68     150  100xp In this exercise, you'll once again crea...
69     152  0xp Now, it's time for liftoff! In this exerci...
70     154  100xp Congratulations on executing your first ...
71     161  100xp You can now execute a basic SQL query to...
72     165  100xp You can also order your SQL query result...
73     169  100xp Here, you'll become more familiar with t...
74     171  100xp Here, you'll perform your first INNER JO...
75     174  100xp Congrats on performing your first INNER ...
76     177  100xp In this exercise, you'll be working with...
77     179  100xp For large files, we may not want to prin...
78     183  100xp In this exercise, you're now going to lo...
79     185  100xp What if there are rows, such as a header...
80     187  100xp The file seaslug.txt has a text header, ...
81     191  100xp You have just used np.genfromtxt() to im...
82     193  100xp In the last exercise, you were able to i...
83     197  100xp The pandas package is also great at deal...
84     199  100xp There are a number of datatypes that can...
85     201  100xp Whether you like it or not, any working ...
86     203  100xp In the previous exercises, you saw that ...
87     205  100xp Here, you'll parse your spreadsheets and...
88     207  100xp In this exercise, you'll figure out how ...
89     210  100xp Here, you'll gain expertise in importing...
90     212  100xp The file 'LIGO_data.hdf5' is already in ...
91     214  100xp In this exercise, you'll extract some of...
92     216  100xp In this exercise, you'll figure out how ...
93     218  100xp Here, you'll discover what is in the MAT...
94     221  100xp Here, you're going to fire up your very ...
95     224  100xp In this exercise, you'll once again crea...
96     226  0xp Now, it's time for liftoff! In this exerci...
97     228  100xp Congratulations on executing your first ...
98     235  100xp You can now execute a basic SQL query to...
99     239  100xp You can also order your SQL query result...
100    243  100xp Here, you'll become more familiar with t...
101    245  100xp Here, you'll perform your first INNER JO...
102    248  100xp Congrats on performing your first INNER ...
103    251  100xp You are about to import your first file ...
104    254  100xp You have just imported a file from the w...
105    256  100xp Congrats! You've just loaded a flat file...
106    259  100xp Now that you know the basics behind HTTP...
107    261  100xp You have just packaged and sent a GET re...
108    263  100xp Now that you've got your head and hands ...
109    265  100xp In this interactive exercise, you'll lea...
110    267  100xp As promised, in the following exercises,...
111    269  100xp In this exercise, you'll figure out how ...
112    271  0xp Now that you know what a JSON is, you'll l...
113    273  100xp Now it's your turn to pull some movie da...
114    275  100xp Wow, congrats! You've just queried your ...
115    277  100xp You're doing so well and having so much ...
116    279  100xp The package tweepy is great at handling ...
117    281  100xp Now that you have set up your authentica...
118    283  100xp Now that you've got your Twitter data si...
119    285  100xp Now you have the Twitter data in a list ...
120    287  100xp Now that you have your DataFrame of twee...
121    291  100xp Now that you have the number of tweets t...
122    294  100XP Import the figure function from bokeh.pl...
123    296  100XP Create the figure p with the figure() fu...
124    298  100XP Using the Latin America data (fertility_...
125    300  100XP Import the figure function from bokeh.pl...
126    302  100XP Plot date along the x-axis and price alo...
127    304  100XP Create a list of the longitude positions...
128    306  100XP Import numpy as np. Create an array x us...
129    308  100XP Import pandas as pd. Use the read_csv() ...
130    310  100XP Import the ColumnDataSource class from b...
131    312  100XP Create a figure p with an x-axis label o...
132    314  100XP Import HoverTool from bokeh.models. Add ...
133    316  100XP Import CategoricalColorMapper from bokeh...
134    318  100XP Import row from the bokeh.layouts module...
135    320  100XP Import column from the bokeh.layouts mod...
136    322  100XP Import row and column from bokeh.layouts...
137    324  100XP Import gridplot from the bokeh.layouts m...
138    326  100XP Import Panel from bokeh.models.widgets. ...
139    328  100XP Import Tabs from bokeh.models.widgets. C...
140    330  100XP Link the x_range of p2 to p1. Link the y...
141    332  100XP Create a ColumnDataSource object called ...
142    334  100XP Add a red circle glyph to the figure p u...
143    336  100XP Use p.legend.location to adjust the lege...
144    338  100XP Import the HoverTool class from bokeh.mo...
145    340  100XP Import curdoc from bokeh.io and figure f...
146    342  100XP Import curdoc from bokeh.io, widgetbox f...
147    344  100XP Create the first slider, slider1, using ...
148    346  100XP Create a ColumnDataSource called source....
149    348  100XP Define a callback function callback with...
150    350  100XP Define a callback function called update...
151    352  100XP Create select1, the first dropdown selec...
152    354  0XP Create a button called button using the fu...
153    356  100XP Import CheckboxGroup, RadioGroup, Toggle...
154    358  100XP Import output_file and show from bokeh.i...
155    360  100XP Make a ColumnDataSource object called so...
156    362  100XP Make a list of the unique values from th...
157    364  100XP Import the widgetbox and row functions f...
158    366  100XP Define the update_plot callback function...
159    368  100XP Import HoverTool from bokeh.models. Crea...
160    370  100XP Inside the update_plot() callback functi...
161    371  100xp With matplotlib, you can create a bunch ...
162    374  100xp Now that you've built your first line pl...
163    376  100xp When you have a time scale along the hor...
164    379  100xp In the previous exercise, you saw that t...
165    381  100xp life_exp, the list containing data on th...
166    383  100xp In the previous exercise, you didn't spe...
167    386  100xp It's time to customize your own plot. Th...
168    388  100xp The customizations you've coded up to no...
169    391  100xp Right now, the scatter plot is just a cl...
170    393  100xp The code you've written up to now is ava...
171    396  100xp If you have another look at the script, ...
172    398  100xp To see why dictionaries are useful, have...
173    400  100xp The countries and capitals lists are aga...
174    402  100xp If the keys of a dictionary are chosen w...
175    405  0xp If you know how to access a dictionary, yo...
176    407  100xp Somebody thought it would be funny to me...
177    409  100xp Remember lists? They could contain anyth...
178    411  100xp Pandas is an open source library, provid...
179    413  100xp The Python code that solves the previous...
180    415  100xp Putting data in a dictionary and then bu...
181    416  100xp Your read_csv() call to import the CSV d...
182    418  100xp In the video, you saw that you can index...
183    421  100xp Square brackets can do more than just se...
184    424  100xp With loc and iloc you can do practically...
185    429  100xp loc and iloc also allow you to select bo...
186    433  100xp It's also possible to select only column...
187    436  100xp To check if two Python values, or variab...
188    439  100xp In the video, Filip also talked about th...
189    442  100xp Out of the box, you can also use compari...
190    444  100xp A boolean is either 1 or 0, True or Fals...
191    448  100xp It's time to take a closer look around i...
192    450  100xp On the right, the if construct for room ...
193    452  100xp It's also possible to have a look around...
194    454  100xp Remember that cars dataset, containing t...
195    456  100xp The code in the previous example worked ...
196    458  100xp Let's stick to the cars data some more. ...
197    460  100xp Remember about np.logical_and(), np.logi...
198    462  100xp Below you can find the example from the ...
199    464  100xp The while loop that corrects the offset ...
200    465  100xp Have another look at the for loop that F...
201    468  100xp Using a for loop to iterate over a list ...
202    470  100xp For non-programmer folks, room 0: 11.25 ...
203    472  100xp Remember the house variable from the Int...
204    474  100xp In Python 3, you need the items() method...
205    478  100xp If you're dealing with a 1D Numpy array,...
206    482  100xp Iterating over a Pandas DataFrame is typ...
207    485  100xp The row data that's generated by iterrow...
208    487  0xp In the video, Filip showed you how to add ...
209    490  100xp Using iterrows() to iterate over every o...
210    494  100xp Below you can find the example from the ...
211    497  100xp The while loop that corrects the offset ...
212    499  100xp Have another look at the for loop that F...
213    502  100xp Using a for loop to iterate over a list ...
214    504  100xp For non-programmer folks, room 0: 11.25 ...
215    506  100xp Remember the house variable from the Int...
216    508  100xp In Python 3, you need the items() method...
217    512  100xp If you're dealing with a 1D Numpy array,...
218    516  100xp Iterating over a Pandas DataFrame is typ...
219    519  100xp The row data that's generated by iterrow...
220    521  0xp In the video, Filip showed you how to add ...
221    524  100xp Using iterrows() to iterate over every o...
222    528  100xp Randomness has many uses in science, art...
223    530  100xp In the previous exercise, you used rand(...
224    533  100xp In the Empire State Building bet, your n...
225    535  100xp Before, you have already written Python ...
226    537  0xp Things are shaping up nicely! You already ...
227    539  100xp Let's visualize this random walk! Rememb...
228    542  100xp A single random walk is one thing, but t...
229    544  100xp all_walks is a list of lists: every sub-...
230    548  100xp With this neatly written code of yours, ...
231    550  100xp All these fancy visualizations have put ...
232    574  100xp Subsetting Python lists is a piece of ca...
233    583  50xp You saw before that a Python list can con...
234    586  100xp Replacing list elements is pretty easy. ...
235    589  100xp If you can change elements in a list, yo...
236    597  100xp Out of the box, Python offers a bunch of...
237    599  50xp Maybe you already know the name of a Pyth...
238    602  100xp In the previous exercise, the square bra...
239    604  100xp Strings come with a bunch of methods. Fo...
240    605  100xp Strings are not the only Python types th...
241    607  100xp Most list methods will change the list t...
242    608  100xp As a data scientist, some notions of geo...
243    609  100xp General imports, like import math, make ...
244    611  50xp There are several ways to import packages...
245    613  100xp We're going to dive into the world of ba...
246    614  100xp You are a huge baseball fan. You decide ...
247    615  100xp The MLB also offers to let you analyze t...
248    616  100xp To subset both regular Python lists and ...
249    619  100xp You've seen it with your own eyes: Pytho...
250    622  100xp Before working on the actual MLB data, l...
251    623  100xp You have another look at the MLB data an...
252    624  100xp If your 2D Numpy array has a regular str...
253    628  100xp Remember how you calculated the Body Mas...
254    630  100xp You now know how to use Numpy functions ...
255    632  0xp Because the mean and median are so far apa...
256    633  100xp In the last few exercises you've learned...
257    635  0XP Import create_engine from the sqlalchemy m...
258    637  100XP Import the Table object from sqlalchemy....
259    639  100XP Reflect the census table as you did in t...
260    641  100XP Build a SQL statement to query all the c...
261    643  100XP Import select from the sqlalchemy module...
262    645  100XP Extract the first row of results and ass...
263    647  50XP Import create_engine from sqlalchemy. Cre...
264    649  100XP Select all records from the census table...
265    651  100XP Select all records from the census table...
266    653  100XP Import and_ from the sqlalchemy module. ...
267    655  100XP Select all records of the state column f...
268    657  100XP Import desc from the sqlalchemy module. ...
269    659  100XP Select all records of the state and age ...
270    664  100XP Build a select statement to count the di...
271    668  100XP Import func from sqlalchemy. Build an ex...
272    670  100XP Import pandas as pd. Create a DataFrame ...
273    672  100XP Import matplotlib.pyplot as plt. Create ...
274    674  100XP Import the create_engine function from t...
275    676  100XP Define a select statement called stmt to...
276    678                                              100XP
277    682  100XP Build a statement to join the census and...
278    684  100XP Build a statement to select ALL the colu...
279    686  100XP Build a statement to select: The state c...
280    690  100XP Save an alias of the employees table as ...
281    692  100XP Use a while loop that checks if there ar...
282    694  100XP Import Table, Column, String, Integer, F...
283    696  100XP Table, Column, String, Integer, Float, B...
284    698  100XP Import insert and select from the sqlalc...
285    700  100XP Build a list of dictionaries called valu...
286    702  100XP Create a statement for bulk insert into ...
287    705  100XP Build a statement to select all columns ...
288    707  100XP Build an update statement to update the ...
289    709  100XP Build a statement to select the name col...
290    712  100XP Import delete and select from sqlalchemy...
291    715  100XP Build a delete statement to remove data ...
292    717  100XP Drop the state_fact table by applying th...
293    719  100XP Import create_engine and MetaData from s...
294    721  100XP Import Table, Column, String, and Intege...
295    723  100XP Create an empty list called values_list....
296    725  100XP Import insert from sqlalchemy. Build an ...
297    727  100XP Import select from sqlalchemy. Build a s...
298    729  100XP Import case, cast and Float from sqlalch...
299    731  100XP Build a statement to: Select state. Calc...
300    733  100XP Import matplotlib.pyplot as its usual al...
301    735  100XP Create a set of plot axes with lower cor...
302    737  100XP Use plt.subplot() to create a figure wit...
303    739  100XP Create a figure with 2Ã—22Ã—2 subplot layo...
304    741  100XP Use plt.xlim() to set the x-axis range t...
305    743  100XP Use plt.axis() to select the time period...
306    745  100XP Modify the plot command provided that dr...
307    747  100XP Compute the maximum enrollment of women ...
308    749  100XP Import matplotlib.pyplot as its usual al...
309    752  100XP Import the numpy and matplotlib.pyplot m...
310    754  100XP Using the meshgrid X, Y as axes: Generat...
311    756  100XP Modify the call to plt.contourf() so the...
312    758  100XP Generate a two-dimensional histogram to ...
313    760  100XP Generate a two-dimensional histogram wit...
314    762  100XP Load the file '480px-Astronaut-EVA.jpg' ...
315    764  100XP Print the shape of the existing image ar...
316    766  100XP Display img in the top left subplot with...
317    768  100XP Use the methods .min() and .max() to sav...
318    770  100XP Import matplotlib.pyplot and seaborn usi...
319    772  100XP Import matplotlib.pyplot and seaborn usi...
320    774  100XP Modify the call to plt.scatter() to plot...

In [34]:
df_1 = ~(df['Questions'].fillna('').str.startswith(('50xp', '100xp', '100XP', '50XP', '0XP', '0xp')).astype(bool)).to_frame()

In [35]:
instructions = []
for index, row in df[df_1].iterrows():
    if True:
        #print(row['Questions'])
        instructions.append(row['Questions'])
instructions

[nan,
 "Import pandas as pd. Read 'dob_job_application_filings_subset.csv' into a DataFrame called df. Print the head and tail of df. Print the shape of df and its columns. Note: .shape and .columns are attributes, not methods, so you don't need to follow these with parentheses (). Hit 'Submit Answer' to view the results! Notice the suspicious number of 0 values. Perhaps these represent missing data.",
 nan,
 'Print the info of df. Print the info of the subset dataframe, df_subset.',
 nan,
 "Print the value counts for: The 'Borough' column. The 'State' column. The 'Site Fill' column.",
 nan,
 "Import matplotlib.pyplot as plt. Create a histogram of the 'Existing Zoning Sqft' column. Rotate the axis labels by 70 degrees and use a log scale for both axes. Display the histogram using plt.show().",
 nan,
 "Using the .boxplot() method of df, create a boxplot of 'initial_cost' across the different values of 'Borough'. Display the plot.",
 nan,
 "Using df, create a scatter plot (kind='scatter') with 'initial_cost' on the x-axis and the 'total_est_fee'on the y-axis. Rotate the x-axis labels by 70 degrees. Create another scatter plot exactly as above, substituting df_subset in place of df.",
 nan,
 "Print the head of airquality. Use pd.melt() to melt the Ozone, Solar.R, Wind, and Temp columns of airquality into rows. Do this by using id_vars to specify the columns you do not wish to melt: 'Month' and 'Day'. Print the head of airquality_melt.",
 nan,
 "Print the head of airquality. Melt the Ozone, Solar.R, Wind, and Temp columns of airquality into rows, with the default variable column renamed to 'measurement' and the default value column renamed to 'reading'. You can do this by specifying, respectively, the var_name and value_name parameters. Print the head of airquality_melt.",
 nan,
 "Print the head of airquality_melt. Pivot airquality_melt by using .pivot_table() with the rows indexed by 'Month' and 'Day', the columns indexed by 'measurement', and the values populated with 'reading'. Print the head of airquality_pivot.",
 nan,
 'Print the index of airquality_pivot by accessing its .index attribute. This has been done for you. Reset the index of airquality_pivot using its .reset_index() method. Print the new index of airquality_pivot. Print the head of airquality_pivot.',
 "Pivoting duplicate values 0xp So far, you've used the .pivot_table() method when there are multiple index values you want to hold constant during a pivot. In the video, Dan showed you how you can also use pivot tables to deal with duplicate values by providing an aggregation function through the aggfunc parameter. Here, you're going to combine both these uses of pivot tables. Let's say your data collection method accidentally duplicated your dataset. Such a dataset, in which each row is duplicated, has been pre-loaded as airquality_dup. In addition, the airquality_melt DataFrame from the previous exercise has been pre-loaded. Explore their shapes in the IPython Shell by accessing their .shape attributes to confirm the duplicate rows present in airquality_dup. You'll see that by using .pivot_table() and the aggfunc parameter, you can not only reshape your data, but also remove duplicates. Finally, you can then flatten the columns of the pivoted DataFrame using .reset_index(). NumPy and pandas have been imported as np and pd respectively.",
 nan,
 "Melt tb keeping 'country' and 'year' fixed. Create a 'gender' column by slicing the first letter of the variable column of tb_melt. Create an 'age_group' column by slicing the rest of the variable column of tb_melt. Print the head of tb_melt. This has been done for you, so hit 'Submit Answer' to see the results!",
 nan,
 "Melt ebola using 'Date' and 'Day' as the id_vars, 'type_country' as the var_name, and 'counts' as the value_name. Create a column called 'str_split' by splitting the 'type_country' column of ebola_melt on '_'. Note that you will first have to access the str attribute of type_country before you can use .split(). Create a column called 'type' by using the .get()method to retrieve index 0 of the 'str_split' column of ebola_melt. Create a column called 'country' by using the .get()method to retrieve index 1 of the 'str_split' column of ebola_melt. Print the head of ebola. This has been done for you, so hit 'Submit Answer' to view the results!",
 nan,
 "Concatenate uber1, uber2, and uber3 together using pd.concat(). You'll have to pass the DataFrames in as a list. Print the shape and then the head of the concatenated DataFrame, row_concat.",
 nan,
 'Concatenate ebola_melt and status_country column-wise into a single DataFrame called ebola_tidy. Be sure to specify axis=1 and to pass the two DataFrames in as a list. Print the shape and then the head of the concatenated DataFrame, ebola_tidy.',
 nan,
 "Import the glob module along with pandas (as its usual alias pd). Write a pattern to match all .csv files. Save all files that match the pattern using the glob() function within the glob module. That is, by using glob.glob(). Print the list of file names. This has been done for you. Read the second file in csv_files (i.e., index 1) into a DataFrame called csv2. Hit 'Submit Answer' to print the head of csv2. Does it look familiar?",
 nan,
 "Write a for loop to iterate though csv_files: In each iteration of the loop, read csv into a DataFrame called df. After creating df, append it to the list frames using the .append() method. Concatenate frames into a single DataFrame called uber. Hit 'Submit Answer' to see the head and shape of the concatenated DataFrame!",
 nan,
 "Merge the site and visited DataFrames on the 'name' column of site and 'site' column of visited. Print the merged DataFrame o2o",
 nan,
 "Merge the site and visited DataFrames on the 'name' column of site and 'site' column of visited, exactly as you did in the previous exercise. Print the merged DataFrame and then hit 'Submit Answer' to see the different output produced by this merge!",
 nan,
 "Merge the site and visited DataFrames on the 'name' column of site and 'site' column of visited, exactly as you did in the previous two exercises. Save the result as m2m. Merge the m2m and survey DataFrames on the 'ident'column of m2m and 'taken' column of survey. Hit 'Submit Answer' to print the first 20 lines of the merged DataFrame!",
 nan,
 "Convert the sex column of the tips DataFrame to type 'category' using the .astype() method. Convert the smoker column of the tips DataFrame. Print the memory usage of tips after converting the data types of the columns. Use the .info() method to do this.",
 nan,
 "Use pd.to_numeric() to convert the 'total_bill'column of tips to a numeric data type. Coerce the errors to NaN by specifying the keyword argument errors='coerce'. Convert the 'tip' column of 'tips' to a numeric data type exactly as you did for the 'total_bill' column. Print the info of tips to confirm that the data types of 'total_bill' and 'tips' are numeric.",
 nan,
 "Import re. Compile a pattern that matches a phone number of the format xxx-xxx-xxxx. Use \\d{x} to match x digits. Here you'll need to use it three times: twice to match 3 digits, and once to match 4 digits. Place the regular expression inside re.compile(). Using the .match() method on prog, check whether the pattern matches the string '123-456-7890'. Check whether the pattern matches the string '1123-456-7890'.",
 nan,
 "Import re. Write a pattern that will find all the numbers in the following string: 'the recipe calls for 10 strawberries and 1 banana'. To do this: Use the re.findall() function and pass it two arguments: the pattern, followed by the string. \\d is the pattern required to find digits. This should be followed with a + so that the previous element is matched one or more times. This ensures that 10 is viewed as one number and not as 1 and 0. Print the matches to confirm that your regular expression found the values 10 and 1.",
 nan,
 'Write patterns to match: A telephone number of the format xxx-xxx-xxxx. You already did this in a previous exercise. A string of the format: A dollar sign, an arbitrary number of digits, a decimal point, 2 digits. Use $ to match the dollar sign, \\d* to match an arbitrary number of digits, . to match the decimal point, and \\d{x} to match x number of digits. A capital letter, followed by an arbitrary number of alphanumeric characters. Use [A-Z] to match any capital letter followed by \\w* to match an arbitrary number of alphanumeric characters.',
 nan,
 "Define a function named recode_sex() that has one parameter: sex_value. If sex_value equals 'Male', return 1. Else, if sex_value equals 'Female', return 0. If sex_value does not equal 'Male' or 'Female', return np.nan. NumPy has been pre-imported for you. Apply your recode_sex() function over tips.sex using the .apply() method to create a new column: 'sex_recode'. Note that when passing in a function inside the .apply() method, you don't need to specify the parentheses after the function name. Hit 'Submit Answer' and take note of the new 'sex_recode'column in the tips DataFrame!",
 nan,
 'df.apply(my_square)',
 'The equivalent code using a lambda function is: df.apply(lambda x: x ** 2)',
 "The lambda function takes one parameter - the variable x. The function itself just squares x and returns the result, which is whatever the one line of code evaluates to. In this way, lambda functions can make your code concise and Pythonic. The tips dataset has been pre-loaded into a DataFrame called tips. Your job is to clean its 'total_dollar' column by removing the dollar sign. You'll do this using two different methods: With the .replace() method, and with regular expressions. The regular expression module re has been pre-imported.",
 "Use the .replace() method inside a lambda function to remove the dollar sign from the 'total_dollar' column of tips. You need to specify two arguments to the .replace()method: The string to be replaced ('$'), and the string to replace it by (''). Apply the lambda function over the 'total_dollar'column of tips. Use a regular expression to remove the dollar sign from the 'total_dollar' column of tips. The pattern has been provided for you: It is the first argument of the re.findall() function. Complete the rest of the lambda function and apply it over the 'total_dollar' column of tips. Notice that because re.findall() returns a list, you have to slice it in order to access the actual value. Hit 'Submit Answer' to verify that you have removed the dollar sign from the column.",
 nan,
 "Create a new DataFrame called tracks that contains the following columns from billboard: 'year', 'artist', 'track', and 'time'. Print the info of tracks. This has been done for you. Drop duplicate rows from tracks using the .drop_duplicates() method. Save the result to tracks_no_duplicates. Print the info of tracks_no_duplicates. This has been done for you, so hit 'Submit Answer' to see the results!",
 nan,
 "Calculate the mean of the Ozone column of airqualityusing the .mean() method on airquality.Ozone. Use the .fillna() method to replace all the missing values in the Ozone column of airquality with the mean, oz_mean. Hit 'Submit Answer' to see the result of filling in the missing values!",
 nan,
 'Write an assert statement to confirm that there are no missing values in ebola. Use the pd.notnull() function on ebola (or the .notnull() method of ebola) and chain two .all() methods (that is, .all().all()). The first .all() method will return a True or False for each column, while the second .all() method will return a single True or False. Write an assert statement to confirm that all values in ebolaare greater than or equal to 0. Chain two all() methods to the Boolean condition (ebola >= 0).',
 nan,
 "Each data point is a customer. The first input is how many accounts they have, and the second input is how many children they have. The model will predict how many transactions the user makes in the next year. You will use this data throughout the first 2 chapters of this course. The input data has been pre-loaded as input_data, and the weights are available in a dictionary called weights. The array of weights for the first node in the hidden layer are in weights['node_0'], and the array of weights for the second node in the hidden layer are in weights['node_1']. The weights feeding into the output node are available in weights['output']. NumPy will be pre-imported for you as np in all exercises.",
 "Calculate the value in node 0 by multiplying input_data by its weights weights['node_0'] and computing their sum. This is the 1st node in the hidden layer. Calculate the value in node 1 using input_data and weights['node_1']. This is the 2nd node in the hidden layer. Put the hidden layer values into an array. This has been done for you. Generate the prediction by multiplying hidden_layer_outputs by weights['output'] and computing their sum. Hit 'Submit Answer' to print the output!",
 nan,
 'Fill in the definition of the relu() function: Use the max() function to calculate the value for the output of relu(). Apply the relu() function to node_0_input to calculate node_0_output. Apply the relu() function to node_1_input to calculate node_1_output.',
 nan,
 'Define a function called predict_with_network() that accepts two arguments - input_data_row and weights - and returns a prediction from the network as the output. Calculate the input and output values for each node, storing them as: node_0_input, node_0_output, node_1_input, and node_1_output. To calculate the input value of a node, multiply the relevant arrays together and compute their sum. To calculate the output value of a node, apply the relu()function to the input value of the node. Use a for loop to iterate over input_data: Use your predict_with_network() to generate predictions for each row of the input_data - input_data_row. Append each prediction to results.',
 nan,
 "Calculate node_0_0_input using its weights weights['node_0_0'] and the given input_data. Then apply the relu() function to get node_0_0_output. Do the same as above for node_0_1_input to get node_0_1_output. Calculate node_1_0_input using its weights weights['node_1_0'] and the outputs from the first hidden layer - hidden_0_outputs. Then apply the relu() function to get node_1_0_output. Do the same as above for node_1_1_input to get node_1_1_output. Calculate model_output using its weights weights['output'] and the outputs from the second hidden layer hidden_1_outputs array. Do not apply the relu() function to this output.",
 nan,
 "Create a dictionary of weights called weights_1 where you have changed 1 weight from weights_0 (You only need to make 1 edit to weights_0 to generate the perfect prediction). Obtain predictions with the new weights using the predict_with_network() function with input_data and weights_1. Calculate the error for the new weights by subtracting target_actual from model_output_1. Hit 'Submit Answer' to see how the errors compare!",
 nan,
 'Import mean_squared_error from sklearn.metrics. Using a for loop to iterate over each row of input_data: Make predictions for each row with weights_0 using the predict_with_network()function and append it to model_output_0. Do the same for weights_1, appending the predictions to model_output_1. Calculate the mean squared error of model_output_0 and then model_output_1 using the mean_squared_error() function. The first argument should be the actual values (target_actuals), and the second argument should be the predicted values (model_output_0 or model_output_1).',
 nan,
 'Calculate the predictions, preds, by multiplying weightsby the input_data and computing their sum. Calculate the error, which is the difference between targetand preds. Notice that this error corresponds to y-xb in the gradient expression. Calculate the slope of the loss function with respect to the prediction. To do this, you need to take the product of input_data and error and multiply that by 2.',
 nan,
 "Set the learning rate to be 0.01 and calculate the error from the original predictions. This has been done for you. Calculate the updated weights by subtracting the product of learning_rate and slope from weights. Calculate the updated predictions by multiplying weights_updated with input_data and computing their sum. Calculate the error for the new predictions. Store the result as error_updated. Hit 'Submit Answer' to compare the updated error to the original!",
 nan,
 "Using a for loop to iteratively update weights: Calculate the slope using the get_slope() function. Update the weights using a learning rate of 0.01. Calculate the mean squared error (mse) with the updated weights using the get_mse() function. Append mse to mse_hist. Hit 'Submit Answer' to visualize mse_hist. What trend do you notice?",
 nan,
 "Store the number of columns in the predictors data to n_cols. This has been done for you. Start by creating a Sequential model called model. Use the .add() method on model to add a Dense layer. Add 50 units, specify activation='relu', and the input_shape parameter to be the tuple (n_cols,) which means it has n_cols items in each row of data, and any number of rows of data are acceptable as inputs. Add another Dense layer. This should have 32 units and a 'relu'activation. Finally, add an output layer, which is a Dense layer with a single node. Don't use any activation function here.",
 nan,
 "Compile the model using model.compile(). Your optimizer should be 'adam' and the loss should be 'mean_squared_error'.",
 nan,
 'Fit the model. Remember that the first argument is the predictive features (predictors), and the data to be predicted (target) is the second argument.',
 nan,
 "Convert df.survived to a categorical variable using the to_categorical() function. Specify a Sequential model called model. Add a Dense layer with 32 nodes. Use 'relu' as the activationand (n_cols,) as the input_shape. Add the Dense output layer. Because there are two outcomes, it should have 2 units, and because it is a classification model, the activation should be 'softmax'. Compile the model, using 'sgd' as the optimizer, 'categorical_crossentropy' as the loss function, and metrics=['accuracy'] to see the accuracy (what fraction of predictions were correct) at the end of each epoch. Fit the model using the predictors and the target.",
 nan,
 "Create your predictions using the model's .predict() method on pred_data. Use NumPy indexing to find the column corresponding to predicted probabilities of survival being True. This is the second column (index 1) of predictions. Store the result in predicted_prob_true and print it.",
 nan,
 "Import SGD from keras.optimizers. Create a list of learning rates to try optimizing with called lr_to_test. The learning rates in it should be .000001, 0.01, and 1. Using a for loop to iterate over lr_to_test: Use the get_new_model()function to build a new, unoptimized model. Create an optimizer called my_optimizer using the SGD() constructor with keyword argument lr=lr. Compile your model. Set the optimizer parameter to be the SGD object you created above, and because this is a classification problem, use 'categorical_crossentropy'for the loss parameter. Fit your model using the predictors and target.",
 nan,
 "Compile your model using 'adam' as the optimizer and 'categorical_crossentropy' for the loss. To see what fraction of predictions are correct (the accuracy) in each epoch, specify the additional keyword argument metrics=['accuracy'] in model.compile(). Fit the model using the predictorsand target. Create a validation split of 30% (or 0.3). This will be reported in each epoch.",
 nan,

In [36]:
instructions = pd.DataFrame(instructions).dropna()

In [37]:
instructions

                                                      0
1     Import pandas as pd. Read 'dob_job_application...
3     Print the info of df. Print the info of the su...
5     Print the value counts for: The 'Borough' colu...
7     Import matplotlib.pyplot as plt. Create a hist...
9     Using the .boxplot() method of df, create a bo...
11    Using df, create a scatter plot (kind='scatter...
13    Print the head of airquality. Use pd.melt() to...
15    Print the head of airquality. Melt the Ozone, ...
17    Print the head of airquality_melt. Pivot airqu...
19    Print the index of airquality_pivot by accessi...
20    Pivoting duplicate values 0xp So far, you've u...
22    Melt tb keeping 'country' and 'year' fixed. Cr...
24    Melt ebola using 'Date' and 'Day' as the id_va...
26    Concatenate uber1, uber2, and uber3 together u...
28    Concatenate ebola_melt and status_country colu...
30    Import the glob module along with pandas (as i...
32    Write a for loop to iterate though csv_files: ...
34    Merge the site and visited DataFrames on the '...
36    Merge the site and visited DataFrames on the '...
38    Merge the site and visited DataFrames on the '...
40    Convert the sex column of the tips DataFrame t...
42    Use pd.to_numeric() to convert the 'total_bill...
44    Import re. Compile a pattern that matches a ph...
46    Import re. Write a pattern that will find all ...
48    Write patterns to match: A telephone number of...
50    Define a function named recode_sex() that has ...
52                                  df.apply(my_square)
53    The equivalent code using a lambda function is...
54    The lambda function takes one parameter - the ...
55    Use the .replace() method inside a lambda func...
57    Create a new DataFrame called tracks that cont...
59    Calculate the mean of the Ozone column of airq...
61    Write an assert statement to confirm that ther...
63    Each data point is a customer. The first input...
64    Calculate the value in node 0 by multiplying i...
66    Fill in the definition of the relu() function:...
68    Define a function called predict_with_network(...
70    Calculate node_0_0_input using its weights wei...
72    Create a dictionary of weights called weights_...
74    Import mean_squared_error from sklearn.metrics...
76    Calculate the predictions, preds, by multiplyi...
78    Set the learning rate to be 0.01 and calculate...
80    Using a for loop to iteratively update weights...
82    Store the number of columns in the predictors ...
84    Compile the model using model.compile(). Your ...
86    Fit the model. Remember that the first argumen...
88    Convert df.survived to a categorical variable ...
90    Create your predictions using the model's .pre...
92    Import SGD from keras.optimizers. Create a lis...
94    Compile your model using 'adam' as the optimiz...
96    Import EarlyStopping from keras.callbacks. Com...
98    Create model_2 to replicate model_1, but use 1...
100   Specify a model called model_2 that is like mo...
102   Create a Sequential object to start your model...
104   Open the file moby_dick.txt as read-only and s...
106   While still within this construct, the variabl...
107   You'll now use these tools to print the first ...
108   Open moby_dick.txt using the with context mana...
110   Fill in the arguments of np.loadtxt() by passi...
112   Complete the arguments of np.loadtxt(): the fi...
114   Complete the first call to np.loadtxt() by pas...
115   ## Working with mixed datatypes (1) 50xp Much ...
116   Here, the first argument is the filename, the ...
118   Import titanic.csv using the function np.recfr...
120   Import the pandas package using the alias pd. ...
121   ##Using pandas to import flat files as DataFra...
122   Import the first 5 rows of the file into a Dat...
124   Complete the sep (the pandas version of delim)...
126   Import the pickle package. Complete the second...
128   Assign the filename to the variable file. Pass...
130   Load the sheet '2004' into the DataFrame df1 u...
132   Parse the first sheet by index. In doing so, s...
134   The data are adapted from the website of the u...
135   Import the module SAS7BDAT from the library sa...
137   Use pd.read_stata() to load the file 'disarea....
139   Import the package h5py. Assign the name of th...
141   Assign the HDF5 group data['strain'] to group....
143   Import the package scipy.io. Load the file 'al...
145   Once again, this file contains gene expression...
146   Use the method .keys() on the dictionary mat t...
148   Here, 'sqlite:///Northwind.sqlite' is called t...
149   Import the function create_engine from the mod...
151   Import the function create_engine from the mod...
153   Open the engine connection as con using the me...
155   with engine.connect() as con: rs = con.execute...
156   Packages have already been imported as follows...
157   The engine has also already been created: engi...
158   The engine connection is already open with the...
159   All the code you need to complete is within th...
160   Execute the SQL query that selects the columns...
162   In fact, you can filter any SELECT statement b...
163                                         Query away!
164   Complete the argument of create_engine() so th...
166   In fact, you can order any SELECT statement by...
167                                       Get querying!
168   Using the function create_engine(), create an ...
170   Using the function create_engine(), create an ...
172   The following code has already been executed t...
173   Assign to rs the results from the following qu...
175   The following code has already been executed t...
176   Use the pandas function read_sql_query() to as...
178   Open the file moby_dick.txt as read-only and s...
180   While still within this construct, the variabl...
181   You'll now use these tools to print the first ...
182   Open moby_dick.txt using the with context mana...
184   Fill in the arguments of np.loadtxt() by passi...
186   Complete the arguments of np.loadtxt(): the fi...
188   Complete the first call to np.loadtxt() by pas...
189   ## Working with mixed datatypes (1) 50xp Much ...
190   Here, the first argument is the filename, the ...
192   Import titanic.csv using the function np.recfr...
194   Import the pandas package using the alias pd. ...
195   ##Using pandas to import flat files as DataFra...
196   Import the first 5 rows of the file into a Dat...
198   Complete the sep (the pandas version of delim)...
200   Import the pickle package. Complete the second...
202   Assign the filename to the variable file. Pass...
204   Load the sheet '2004' into the DataFrame df1 u...
206   Parse the first sheet by index. In doing so, s...
208   The data are adapted from the website of the u...
209   Import the module SAS7BDAT from the library sa...
211   Use pd.read_stata() to load the file 'disarea....
213   Import the package h5py. Assign the name of th...
215   Assign the HDF5 group data['strain'] to group....
217   Import the package scipy.io. Load the file 'al...
219   Once again, this file contains gene expression...
220   Use the method .keys() on the dictionary mat t...
222   Here, 'sqlite:///Northwind.sqlite' is called t...
223   Import the function create_engine from the mod...
225   Import the function create_engine from the mod...
227   Open the engine connection as con using the me...
229   with engine.connect() as con: rs = con.execute...
230   Packages have already been imported as follows...
231   The engine has also already been created: engi...
232   The engine connection is already open with the...
233   All the code you need to complete is within th...
234   Execute the SQL query that selects the columns...
236   In fact, you can filter any SELECT statement b...
237                                         Query away!
238   Complete the argument of create_engine() so th...
240   In fact, you can order any SELECT statement by...
241                                       Get querying!
242   Using the function create_engine(), create an ...
244   Using the function create_engine(), create an ...
246   The following code has already been executed t...
247   Assign to rs the results from the following qu...
249   The following code has already been executed t...
250   Use the pandas function read_sql_query() to as...
252   After you import it, you'll check your working...
253   Import the function urlretrieve from the subpa...
255   Assign the URL of the file to the variable url...
257   Your job is to use pd.read_excel() to read in ...
258   Assign the URL of the file to the variable url...
260   Import the functions urlopen and Request from ...
262   Send the request and catch the response in the...
264   Import the package requests. Assign the URL of...
266   Import the function BeautifulSoupfrom the pack...
268   In the sample code, the HTML response object h...
270   Use the method find_all() to find all hyperlin...
272   Load the JSON 'a_movie.json' into the variable...
274   Import the requests package. Assign to the var...
276   Pass the variable url to the requests.get() fu...
278   Assign the relevant URL to the variable url. A...
280   Import the package tweepy. Pass the parameters...
282   Create your Stream object with authentication ...
284   Assign the filename 'tweets.txt' to the variab...
286   Use pd.DataFrame() to construct a DataFrame of...
288   def word_in_text(word, tweet): word = word.low...
289   You're going to iterate over the rows of the D...
290   Within the for loop for index, row in df.iterr...
292   Import both matplotlib.pyplot and seaborn usin...
293   In this example, you're going to make a scatte...
295   By calling multiple glyph functions on the sam...
297   The three most important arguments to customiz...
299   We can draw lines on Bokeh plots with the line...
301   Lines and markers can be combined by plotting ...
303   In Bokeh, extended geometrical shapes can be p...
305   In the previous exercises, you made plots usin...
307   You can create Bokeh plots from Pandas DataFra...
309   You can create a ColumnDataSource object direc...
311   In this exercise, you're going to add the box_...
313   Now let's practice using and customizing the h...
315   The final glyph customization we'll practice i...
317   Layouts are collections of Bokeh figure object...
319   In this exercise, you're going to use the colu...
321   You can create nested layouts of plots by comb...
323   Regular grids of Bokeh plots can be generated ...
325   Tabbed layouts can be created in Pandas by pla...
327   Tabbed layouts are collections of Panel object...
329   Linking axes between plots is achieved by shar...
331   By sharing the same ColumnDataSource object be...
333   Legends can be added to any glyph by using the...
335   Properties of the legend can be changed by usi...
337   Working with the HoverTool is easy for data st...
339   Let's get started with building an interactive...
341   In the previous exercise, you added a single p...
343   Having added a single slider in a widgetbox la...
345   Let's begin making a Bokeh application that ha...
347   You'll now learn how to use widget callbacks t...
349   You'll now learn to update the plot's data usi...
351   Here, you'll practice using a dropdown callbac...
353   It's time to practice adding buttons to your i...
355   You can also get really creative with your But...
357   Here, you'll continue your Exploratory Data An...
359   Let's get started on the Gapminder app. Your j...
361   Now that you have the base plot ready, you can...
363   Until now, we've been plotting data only for 1...
365   Remember how in the plot from the previous exe...
367   #Adding a hover tool In this exercise, you'll ...
369   As a final step in enhancing your application,...
372   In the video, you already saw how much the wor...
373   print() the last item from both the year and t...
375   Print the last item from both the list gdp_cap...
377   Let's continue with the gdp_cap versus life_ex...
378   Change the line plot that's coded in the scrip...
380   Start from scratch: import matplotlib.pyplot a...
382   Use plt.hist() to create a histogram of the va...
384   Build a histogram of life_exp, with 5 bins. Ca...
385   Build a histogram of life_exp with 15 bins. Bu...
387   The strings xlab and ylab are already set for ...
389   In this example, the ticks corresponding to th...
390   Use tick_val and tick_lab as inputs to the xti...
392   Run the script to see how the plot changes. Lo...
394                          Nothing to worry about now
395   Add c = col to the arguments of the plt.scatte...
397   Add plt.grid(True) after the plt.text() calls ...
399   Use the index() method on countries to find th...
401   In this recipe, both the keys and the values a...
403   Here, 'france' is the key and 'paris' the valu...
404   Check out which keys are in europe by calling ...
406   Add the key 'italy' with the value 'rome' to e...
408   The capital of Germany is not 'bonn'; it's 'be...
410   Use chained square brackets to select and prin...
412   Import pandas as pd. Use the pre-defined lists...
414   Hit Submit Answer to see that, indeed, the row...
417   Run the code with Submit Answer and assert tha...
419   The single bracket version gives a Pandas Seri...
420   Use single square brackets to print out the co...
422   The result is another DataFrame containing onl...
423   Select the first 3 observations from cars and ...
425                     cars.loc[['RU']] cars.iloc[[4]]
426           cars.loc[['RU', 'AUS']] cars.iloc[[4, 1]]
427   As before, code is included that imports the c...
428   Use loc or iloc to select the observation corr...
430   cars.loc[['IN', 'RU'], 'cars_per_cap'] cars.il...
431   cars.loc[['IN', 'RU'], ['cars_per_cap', 'count...
432   Print out the drives_right value of the row co...
434   cars.loc[:, ['country','drives_right']] cars.i...
435   Print out the drives_right column as a Series ...
437   When you write these comparisons in a script, ...
438   In the editor on the right, write code to see ...
440   Remember that for string comparison, Python de...
441   Write Python expressions, wrapped in a print()...
443   Using comparison operators, generate boolean a...
445   Write Python expressions, wrapped in a print()...
446   Before, the operational operators like < and >...
447   Generate boolean arrays that answer the follow...
449   Examine the if statement that prints out "Look...
451   Add an else statement to the second control st...
453   Add an elif to the second control structure su...
455   Extract the drives_right column as a Pandas Se...
457   Convert the code on the right to a one-liner t...
459   Select the cars_per_cap column from cars as a ...
461   Use the code sample above to create a DataFram...
463   This example will come in handy, because it's ...
466   As usual, you simply have to indent the code w...
467   Write a for loop that iterates over all elemen...
469   Adapt the for loop in the sample code to use e...
471   Adapt the print() function in the for loop on ...
473   Write a for loop that goes through each sublis...
475   for key, value in world.items() : print(key + ...
476   Remember the europe dictionary that contained ...
477   Write a for loop that goes through each key:va...
479   If you're dealing with a 2D Numpy array, it's ...
480   Two Numpy arrays that you might recognize from...
481   Import the numpy package under the local alias...
483   In this and the following exercises you will b...
484   Write a for loop that iterates over the rows o...
486   Adapt the code in the for loop such that the f...
488    You can do similar things on the cars DataFrame.
489   Use a for loop to add a new column, named COUN...
491   brics["name_length"] = brics["country"].apply(...
492   We can do a similar thing to call the upper() ...
493   Replace the for loop with a one-liner that use...
495   This example will come in handy, because it's ...
496   Create the variable offset with an initial val...
498   Inside the while loop, replace offset = offset...
500   As usual, you simply have to indent the code w...
501   Write a for loop that iterates over all elemen...
503   Adapt the for loop in the sample code to use e...
505   Adapt the print() function in the for loop on ...
507   Write a for loop that goes through each sublis...
509   for key, value in world.items() : print(key + ...
510   Remember the europe dictionary that contained ...
511   Write a for loop that goes through each key:va...
513   If you're dealing with a 2D Numpy array, it's ...
514   Two Numpy arrays that you might recognize from...
515   Import the numpy package under the local alias...
517   In this and the following exercises you will b...
518   Write a for loop that iterates over the rows o...
520   Adapt the code in the for loop such that the f...
522    You can do similar things on the cars DataFrame.
523   Use a for loop to add a new column, named COUN...
525   brics["name_length"] = brics["country"].apply(...
526   We can do a similar thing to call the upper() ...
527   Replace the for loop with a one-liner that use...
529   Import numpy as np. Use seed() to set the seed...
531   Numpy has already been imported as np and a se...
532   Use randint() with the appropriate arguments t...
534   Roll the dice. Use randint() to create the var...
536   Make a list random_walk that contains the firs...
538   Use max() in a similar way to make sure that s...
540   The first list you pass is mapped onto the x a...
541   Add some lines of code after the for loop: Imp...
543   Initialize all_walks to an empty list. Fill in...
545   Use np.array() to convert all_walks to a Numpy...
546   Things are shaping up nicely! You already have...
547   Use max() in a similar way to make sure that s...
549   Change the range() function so that the simula...
551   To make sure we've got enough simulations, go ...
552   Remember how you calculated the money you ende...
553   Instead of calculating with the actual values,...
554   In the previous exercise, you worked with two ...
555   int, or integer: a number without a fractional...
556   Next to numerical data types, there are two ot...
557   Create a new string, desc, with the value "com...
558   To find out the type of a value or a variable ...
559   We already went ahead and created three variab...
560   Filip mentioned that different types behave di...
561   When you sum two strings, for example, you'll ...
562   Using the + operator to paste together two str...
563   This will not work, though, as you cannot simp...
564   To fix the error, you'll need to explicitly co...
565   Now that you know something more about combini...
566   As opposed to int, bool etc, a list is a compo...
567   After measuring the height of your family, you...
568   -Create a list, areas, that contains the area ...
569   A list can contain any Python type. Although i...
570   A list can contain any Python type. But a list...
571   Can you tell which ones of the following lines...
572   As a data scientist, you'll often be dealing w...
573   Finish the list of lists so that it also conta...
575   Remember the areas list from before, containin...
576   After you've extracted values from a list, you...
577   Selecting single values from a list is just on...
578   The start index will be included, while the en...
579   The elements with index 1 and 2 are included, ...
580   In the video, Filip only discussed the syntax ...
581   However, it's also possible not to specify the...
582   Use slicing to create the lists downstairs and...
584   x[2] results in a list, that you can subset ag...
585                                       aSNWE THERRRE
587   For this and the following exercises, you'll c...
588                                              #NAME?
590   You just won the lottery, awesome! You decide ...
591   Finally, you can also remove elements from you...

In [38]:
import re